.footer {
  width: 98%;
  max-width: 1200px;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  border-radius: 10px;
  background: #333;
  color: white;
}

.footer-content {
  text-align: center;
}

.footer-links {
  margin-top: 10px;
}

.footer-links a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}
