.header {
  width: 98%;
  max-width: 1200px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-radius: 10px;
  background: rgb(0, 0, 0);
  color: white;
}

.header-logo {
  font-size:  1.8em;
  font-weight: bold;
}