.main {
  width: 98%;
  max-width: 1200px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  min-height: 80dvh;

}

.main .aside {
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 10px;
  width:  25%;
  background: blue;
}

.main .main-principal {
  display: flex;
  justify-content:  center;
  align-items: center;
  width: 64%;
  border-radius: 10px;
  background: blue;
}